#!/bin/bash
layout python3
export ANSIBLE_INVENTORY="${PWD}/ansible/inventory"
# export ANSIBLE_COW_SELECTION=random # :)
export DISABLE_TELEMETRY=true
PATH_add "${PWD}/bin"
source_env ./SECRETS.env
env_vars_required PROXMOX_PASSWORD